@font-face {
  font-family: 'AlegreyaSans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/AlegreyaSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AlegreyaSans';
  font-weight: 400;
  font-style: oblique;
  src: url('../fonts/AlegreyaSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'AlegreyaSans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/AlegreyaSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'AlegreyaSans';
  font-weight: 700;
  font-style: oblique;
  src: url('../fonts/AlegreyaSans-BoldItalic.ttf') format('truetype');
}

/**********
variables
***********/
:root {
  --color-B: rgb(0, 0, 0);
  --color-W: rgb(255, 255, 255);
  --color-G: rgb(64, 195, 130);
  --color-bg-page: rgb(242, 242, 230);
  --color-bg-hero-attr: rgba(242, 242, 230, 0.7);
  /* mobile / tablet / desktop -> vw from mockups */
  --vw-mobile: 450px;
  --vw-tablet: 806px;
  --vw-desktop: 1920px;
  /* desktop -> max w from intructions PDF */
  --vh-desktop: 1140px;
}

/**********
globals
***********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  :where(*)::before,
  :where(*)::after {
    box-sizing: border-box;
  }
}

body {
  font-family: "AlegreyaSans", sans-serif;
  font-weight: 400;
  color: var(--color-B);
}

body > header {
  font-size: medium;
  font-weight: 700;
  background-color: var(--color-W);
}

h1 {
  font-size: 2.5rem;
}

main {
  background-color: var(--color-bg-page);
}

:where(ol, ul) {
  list-style-type: none;
}

[href] {
  text-decoration: none;
  color: var(--color-B);
  outline: none;

  &:not(.btn):hover,
  &:not(.btn):focus {
    color: var(--color-G);
  }

  &:visited {
    color: var(--color-B);
  }
}

p {
  line-height: 1.5;

  [href] {
    border: 1px dotted var(--color-B);
    border-width: 0 0 1px 0;

    &:not(.btn):hover,
    &:not(.btn):focus {
      border-style: solid;
      color: var(--color-B);
    }
  }
}

abbr {
  cursor: help;
}

/**********
layout
***********/
.w-full {
  width: 100%;
  padding: 1rem;

  @media only screen and (min-width: 1920px) {
    padding: 2rem 3.5rem;
  }
}

.w-container {
  max-width: var(--vh-desktop);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

/* TODO: font sizing */
/**********
components
***********/
.topmenu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "logo logo"
    "menu menu"
  ;
  padding-top: 1rem;
  padding-bottom: 1rem;

  > [href] {
    grid-area: logo;
    justify-self: center;
  }

  > ol {
    grid-area: menu;
    justify-self: center;
    text-align: center;

    > li {
      padding-left: 1rem;
      padding-right: 1rem;
      margin-top: 0.5rem;
    }
  }

  @media only screen and (min-width: 1920px) {
    grid-template-rows: 1fr;
    grid-template-areas: "logo menu";

    > [href] {
      justify-self: start;
    }

    > ol {
      display: flex;
      align-items: center;
      justify-content: center;

      li:last-of-type {
        border: 1px solid var(--color-B);
        border-width: 0 0 0 1px;
      }
    }
  }
}

.hero {
  width: 100%;
  padding: 1rem;
  min-height: 536px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--color-W);

  > .hero-title {
    margin-bottom: 3rem;
  }

  > .hero-legend {
    font-size: xx-large;
    line-height: 1.3;
  }
}

body > footer {
  display: grid;
  grid-template-areas: "div" "ul" "ol";
  justify-items: center;
  align-items: center;
  padding-top: 2rem !important;
  padding-bottom: 4rem !important;
  color: var(--color-W);
  background-color: var(--color-B);

  [href] {
    color: var(--color-W);
  }

  line-height: 2;

  > div {
    grid-area: div;

    > img {
      display: block;
      margin: 0 auto;
      margin-bottom: 1.5rem;
    }

    p {
      margin-bottom: 1.5rem;
    }
  }

  > ul {
    grid-area: ul;
    text-align: center;

    li {
      display: inline-block;

      :where(:hover, :focus) {
        opacity: 0.7;
      }
    }
  }

  > ol {
    grid-area: ol;
    text-align: center;
    line-height: 1.5;
  }

  @media only screen and (min-width: 1920px) {
    grid-template-areas:
      "div ul"
      "div ol"
    ;

    > div {
      justify-self: start;

      > img {
        margin: 0;
        margin-bottom: 1.5rem;
      }
    }

    > :where(ul, ol) {
      justify-self: end;
      display: flex;
    }

    ul li {
      margin-left: 0.5rem;
    }

    ol {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;

      li {
        padding: 0 1rem;
        border: 1px solid var(--color-W);
        border-width: 0 0 0 1px;
      }

      li:first-of-type {
        border: none;
      }
    }
  }
}

:where(.btn, [type="submit"]) {
  outline: none;
  border: 1px solid var(--color-B);
  background-color: transparent;
  padding: 0.5rem 1rem;
  font-size: medium;

  &:focus,
  &:hover {
    border: 1px solid var(--color-G);
    cursor: pointer;
  }
}

form {
  .form-fields {
    border: none;

    [name] {
      margin-bottom: 1rem;
    }

    li:has([name]:not([type="checkbox"])) > label {
      display: block;
      margin-bottom: 0.5rem;
    }

    li:has([name]:not([type="checkbox"])) > [name] {
      width: 100%;
      min-height: 2rem;
      border: none;
      outline: none;

      &:focus {
        border: 1px solid var(--color-B);
      }
    }

    li:has([name][type="checkbox"]) > [name] {
      display: inline-block;
      padding: 1rem;
      background-color: pink;

      &:focus {
        outline: 1px solid var(--color-B);
      }
    }
  }
}

.card-list {
  display: grid;
  grid-gap: 2rem;
  justify-items: stretch;

  &.col-370 {
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  }

  &.col-348 {
    grid-template-columns: repeat(auto-fit, minmax(348px, 1fr));
  }
}

.card {
  .card-img {
    position: relative;

    img {
      width: 100%;
    }
  }

  .card-content {
    background-color: var(--color-W);
    padding: 2rem 1rem;
  }
}

.pagination {
  max-width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;

  > li {
    height: 25px;
    width: 25px;
    padding: 0.5rem;
    background-color: var(--color-W);
    border: 1px solid var(--color-B);
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:has(.active)):where(:focus-within, :hover) {
      background-color: var(--color-G);
      cursor: pointer;
      border-color: var(--color-G);

      > [href] {
        color: var(--color-W);
        border-color: inherit;
      }
    }

    &.active {
      background-color: var(--color-G);
      border-color: var(--color-G);

      > [href] {
        color: var(--color-W);
      }
    }
  }
}

.img-attr {
  text-align: right;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: var(--color-B);
  background-color: var(--color-bg-hero-attr);
  padding: 0 0.5rem;

  > p {
    margin: 0;
  }
}

/**********
index.html
***********/
.index article {
  padding-bottom: 6rem;

  > .hero {
    background-image: url("../img/hero-image-home.jpg");
    background-size: cover;
    background-position-y: 100%;
    background-position-x: 50%;
  }

  > section {
    padding-top: 4.5rem;

    h2 {
      font-size: 1.9rem;
      margin-bottom: 3rem;
    }

    h3 {
      margin-bottom: 0.5rem;
    }

    p {
      margin-bottom: 1rem;
    }
  }

  > section:last-of-type ul {
    margin-top: 3rem;
  }
}

.tema {
  menu ol {
    display: flex;
    flex-wrap: wrap;

    > li::before {
      content: "·";
      font-weight: bolder;
      font-size: x-large;
      color: var(--color-G);
      margin-left: 0.5rem;
    }

    > li:first-of-type::before {
      content: "";
    }

    > li > [href]:focus,
    > li > [href]:hover {
      color: var(--color-G)
    }

    @media only screen and (min-width: 1920px) {
      display: block;

      > li::before {
        content: "";
      }
    }
  }

  main > *:has([datetime]) {
    [datetime] {
      padding: 0.5rem;
      padding-bottom: 0.25rem;
      color: var(--color-W);
      background-color: var(--color-G);
    }
  }
}

.post {
  menu ol {
    display: flex;
    flex-wrap: wrap;

    li:not(:last-of-type) {
      &::after {
        content: ">";
        margin: 0 0.5rem;
      }
    }
  }
}

/**********
debug
***********/
.red {
  outline: 1px solid red;
}
