@font-face {
  font-family: 'AlegreyaSans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/AlegreyaSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AlegreyaSans';
  font-weight: 400;
  font-style: oblique;
  src: url('../fonts/AlegreyaSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'AlegreyaSans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/AlegreyaSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'AlegreyaSans';
  font-weight: 700;
  font-style: oblique;
  src: url('../fonts/AlegreyaSans-BoldItalic.ttf') format('truetype');
}

/**********
variables
***********/
:root {
  --color-B: rgb(0, 0, 0);
  --color-W: rgb(255, 255, 255);
  --color-G: rgb(64, 195, 130);
  --color-bg-page: rgb(242, 242, 230);
  --color-bg-hero-attr: rgba(242, 242, 230, 0.7);
  /* mobile / tablet / desktop -> vw from mockups */
  --vw-mobile: 450px;
  --vw-tablet: 806px;
  --vw-desktop: 1920px;
  /* desktop -> max w from intructions PDF */
  --vh-desktop: 1140px;
}

/**********
globals
***********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  :where(*)::before,
  :where(*)::after {
    box-sizing: border-box;
  }
}

body {
  font-family: "AlegreyaSans", sans-serif;
  font-weight: 400;
  color: var(--color-B);
}

body > header {
  font-size: medium;
  font-weight: 700;
  background-color: var(--color-W);
}

h1 {
  font-size: 2.5rem;
}

main {
  background-color: var(--color-bg-page);
}

:where(ol, ul) {
  list-style-type: none;
}

[href] {
  text-decoration: none;
  color: var(--color-B);
  outline: none;

  &:not(.btn):hover,
  &:not(.btn):focus {
    color: var(--color-G);
  }

  &:visited {
    color: var(--color-B);
  }
}

:where(p, figcaption) {
  line-height: 1.5;

  [href] {
    border: 1px dotted var(--color-B);
    border-width: 0 0 1px 0;

    &:not(.btn):hover,
    &:not(.btn):focus {
      border-style: solid;
      color: var(--color-B);
    }
  }
}

abbr {
  cursor: help;
}

/**********
layout
***********/
.w-full {
  width: 100%;
  padding: 1rem;

  @media only screen and (min-width: 1920px) {
    padding: 2rem 3.5rem;
  }
}

.w-container {
  max-width: var(--vh-desktop);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

/**********
components
***********/
.topmenu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "tm-logo" "tm-menu";
  padding-top: 1rem;
  padding-bottom: 1rem;

  > [href] {
    grid-area: tm-logo;
    justify-self: center;
  }

  > :where(ol, ul) {
    grid-area: tm-menu;
    justify-self: center;
    text-align: center;

    > li {
      padding-left: 1rem;
      padding-right: 1rem;
      margin-top: 0.5rem;
    }
  }

  @media only screen and (min-width: 1920px) {
    grid-template-rows: 1fr;
    grid-template-areas: "tm-logo tm-menu";
    padding-top: 0;
    padding-bottom: 0;

    > [href] {
      justify-self: start;
    }

    > ol {
      display: flex;
      align-items: center;
      justify-content: center;

      li:last-of-type {
        border: 1px solid var(--color-B);
        border-width: 0 0 0 1px;
      }
    }
  }
}

.hero {
  width: 100%;
  padding: 1rem;
  min-height: 536px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--color-W);

  > .hero-title {
    margin-bottom: 3rem;
  }

  > .hero-legend {
    font-size: xx-large;
    line-height: 1.3;
  }

  @media only screen and (min-width: 806px) {
    > .hero-title {
      font-size: 3.7rem;
    }

    > .hero-legend {
      font-size: 2.9rem;
      line-height: 1.3;
    }
  }

  @media only screen and (min-width: 1920px) {
    > .hero-title {
      font-size: 5rem;
    }

    > .hero-legend {
      font-size: 3rem;
      /* line-height: 1.3; */
    }
  }
}

body > footer {
  position: sticky;
  display: grid;
  grid-template-areas: "f-div" "f-ul" "f-ol";
  justify-items: center;
  align-items: center;
  padding-top: 2rem !important;
  padding-bottom: 4rem !important;
  color: var(--color-W);
  background-color: var(--color-B);
  font-size: smaller;

  [href] {
    color: var(--color-W);
  }

  > div {
    grid-area: f-div;

    > img {
      display: block;
      margin: 0 auto;
      margin-bottom: 1.2rem;
    }

    p {
      margin-bottom: 1rem;
    }
  }

  > ul {
    grid-area: f-ul;
    text-align: center;
    margin-bottom: 0.5rem;

    li {
      display: inline-block;

      :where(:hover, :focus) {
        opacity: 0.7;
      }
    }
  }

  > ol {
    grid-area: f-ol;
    text-align: center;
    line-height: 1.6;
  }

  @media only screen and (min-width: 1920px) {
    grid-template-areas:
      "f-div f-ul"
      "f-div f-ol"
    ;

    > div {
      justify-self: start;

      > img {
        margin: 0;
        margin-bottom: 1.5rem;
      }
    }

    > :where(ul, ol) {
      justify-self: end;
      display: flex;
    }

    ul li {
      margin-left: 0.5rem;
    }

    ol {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;

      li {
        padding: 0 1rem;
        border: 1px solid var(--color-W);
        border-width: 0 0 0 1px;
      }

      li:first-of-type {
        border: none;
      }

      li:last-of-type {
        padding: 0;
      }
    }
  }
}

:where(.btn, [type="submit"]) {
  outline: none;
  border: 1px solid var(--color-B);
  background-color: transparent;
  padding: 0.5rem 1rem;
  font-size: medium;

  &:focus,
  &:hover {
    border: 1px solid var(--color-G);
    cursor: pointer;
  }
}

form {
  .form-fields {
    border: none;

    [name] {
      margin-bottom: 1rem;
      max-width: var(--vw-mobile);
    }

    li:has([name]:not([type="checkbox"])) > label {
      display: block;
      margin-bottom: 0.5rem;
    }

    li:has([name]:not([type="checkbox"])) > [name] {
      width: 100%;
      min-height: 2rem;
      border: none;
      outline: none;

      &:focus {
        border: 1px solid var(--color-B);
      }
    }

    li:has([name][type="checkbox"]) > [name] {
      display: inline-block;
      padding: 1rem;
      background-color: pink;

      &:focus {
        outline: 1px solid var(--color-B);
      }
    }
  }
}

.card-list {
  display: grid;
  grid-gap: 2rem;
  justify-items: stretch;
}

.card {
  .card-img {
    position: relative;

    img {
      width: 100%;
    }
  }

  .card-content {
    height: 100%;
    padding: 2rem 1rem;
    background-color: var(--color-W);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;

    p {
      flex: 1;
    }
  }
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;

  > li {
    height: 25px;
    width: 25px;
    padding: 0.5rem;
    margin: 0 0.5rem;
    background-color: var(--color-W);
    border: 1px solid var(--color-B);
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:has(.active)):where(:focus-within, :hover) {
      background-color: var(--color-G);
      cursor: pointer;
      border-color: var(--color-G);

      > [href] {
        color: var(--color-W);
        border-color: inherit;
      }
    }

    &.active {
      background-color: var(--color-G);
      border-color: var(--color-G);

      > [href] {
        color: var(--color-W);
      }
    }
  }
}

.img-attr {
  text-align: right;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: var(--color-B);
  background-color: var(--color-bg-hero-attr);
  padding: 0 0.5rem;

  > p {
    margin: 0;
  }
}

.grid-col-225 {
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
}

.grid-col-370 {
  grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));

  @media only screen and (min-width: 1920px) {
    grid-template-columns: repeat(auto-fit, minmax(425px, 1fr));
  }
}

/**********
index.html
***********/
.index article {
  padding-bottom: 6rem;

  > .hero {
    background-image: url("../img/hero-image-home.jpg");
    background-size: cover;
    background-position: center;
  }

  > section {
    padding-top: 4.5rem;
    font-size: 1.1rem;

    h2 {
      font-size: 1.9rem;
      margin-bottom: 3rem;
    }

    h3 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    p {
      margin-bottom: 1rem;
    }

    &:last-of-type {
      > .card-list {
        margin-top: 3rem;
        grid-gap: 3rem;
      }
    }

    @media only screen and (min-width: 1920px) {
      padding-left: 2.9rem;
      padding-right: 2.9rem;

      h2 {
        font-size: 2.2rem;
        margin-bottom: 3rem;
      }

      p {
        width: 85%;
        font-size: larger;
      }

      &:first-of-type {
        display: flex;
        flex-wrap: wrap;

        h2 {
          display: block;
          width: 100%;
        }

        div {
          &:first-of-type {
            width: 60%;
          }

          &:last-of-type {
            width: 40%;
          }
        }
      }

      &:last-of-type {
        .card h3 {
          font-size: 1.6rem;
          margin-bottom: 0.5rem;
        }

        .card p {
          margin-bottom: 1rem;
          font-size: large;
        }
      }
    }
  }
}

.tema {
  main > article {
    > hgroup h1 {
      max-width: 60%;
      margin: 0 auto;
      padding: 1rem 0 2.5rem;
      text-align: center;

      @media only screen and (min-width: 806px) {
        max-width: 100%;
      }

      @media only screen and (min-width: 1920px) {
        font-size: 4rem;
      }

      [datetime] {
        padding: 0 1rem;
        color: var(--color-W);
        background-color: var(--color-G);
      }
    }

    > hgroup h2 {
      text-align: center;
      font-size: xx-large;
      margin: 0 auto 2.5rem;

      @media only screen and (min-width: 1920px) {
        font-size: 2.5rem;
      }
    }

    > nav ol {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-size: smaller;
      font-weight: 700;

      > li::before {
        content: "·";
        font-size: large;
        color: var(--color-G);
        margin-left: 0.2rem;
      }

      > li:first-of-type::before {
        content: "";
      }

      > li > [href]:focus,
      > li > [href]:hover {
        color: var(--color-G)
      }

      @media only screen and (min-width: 806px) {
        font-size: medium;
      }

      @media only screen and (min-width: 1920px) {
        display: block;
        font-size: 0.9rem;

        > li::before {
          content: "";
        }
      }
    }

    > ol.card-list {
      padding: 2rem 0 4rem;

      > li::before {
        content: "#" counter(list-item);
        font-size: 2.5rem;
        font-weight: 700;
      }

      .card {
        .card-title {
          font-size: 1.8rem;
          line-height: 1;

          + p {
            margin-bottom: 0.8rem;
          }
        }

        .card-img figure {
          img {
            padding: 1rem;
            background-color: var(--color-W);
          }

          figcaption {
            font-size: 0.7rem;
          }
        }

        .card-content {
          padding: 0.8rem 0;
          background-color: transparent;

          > p > [href].br {
            display: inline-block;
            margin-top: 0.8rem;
          }
        }
      }
    }

    @media only screen and (min-width: 1920px) {
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-template-areas:
        "t-hgroup t-hgroup"
        "t-nav t-list"
      ;

      > hgroup {
        grid-area: t-hgroup;
      }

      > nav {
        grid-area: t-nav;
      }

      > ol.card-list {
        grid-area: t-list;

        > li {
          position: relative;
          margin-bottom: 1.5rem;

          &::before {
            position: absolute;
            margin-top: -0.4rem;
          }

          .card {
            display: grid;
            grid-template-columns: 1fr 408px 2fr;
            grid-template-areas:
              "c-title c-img c-content c-content"
            ;
            align-items: start;

            hgroup {
              grid-area: c-title;
              padding-top: 3rem;
            }

            .card-img {
              grid-area: c-img;
            }

            .card-content {
              grid-area: c-content;
              padding: 0 0 0 3rem;
              margin-top: -1rem;
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }
}

.blog main {
  > h1 {
    margin: 1rem 0 3rem;
    text-align: center;

    @media only screen and (min-width: 1920px) {
      font-size: 4.25rem;
      margin: 0 0 3rem;
    }
  }

  > .blog-list {
    display: grid;
    grid-gap: 2.5rem;

    .blog {
      background-color: var(--color-W);

      .blog-img {
        position: relative;

        img {
          width: 100%;
        }

        .img-attr {
          position: absolute;
          bottom: 1.3rem;
          padding: 0.4rem;
          font-size: smaller;
        }
      }

      .blog-content {
        padding: 0.8rem 1rem 1rem;

        .blog-title {
          margin-bottom: 0.5rem;
        }

        p {
          margin-bottom: 0.8rem;

          @media only screen and (min-width: 1920px) {
            font-size: large;
          }
        }

        .btn {
          display: inline-block;
          margin-top: 1.5rem;
        }
      }
    }
  }

  > ol.pagination {
    margin: 3rem auto 3.5rem;

    @media only screen and (min-width: 1920px) {
      margin: 2rem auto 1.5rem;
    }
  }
}

.post {
  main nav ol {
    display: flex;
    flex-wrap: wrap;

    li:not(:last-of-type) {
      &::after {
        content: ">";
        margin: 0 0.5rem;
      }
    }
  }
}

/* DEBUG */
.red {
  outline: 1px solid red;
}
