<footer class="w-full">
	<div>
		<img src="img/logotip-n.svg" alt="logotipo del sitio." />
		<p>
			2024-2025. Isaac Bejarano Fernández
		</p>
	</div>
	<ul>
		<li>
			<a href="javascript:void(0)">
				<img src="img/instagram.svg" alt="logotipo y enlace a instagram." />
			</a>
		</li>
		<li>
			<a href="javascript:void(0)">
				<img src="img/youtube.svg" alt="logotipo y enlace a youtube." />
			</a>
		</li>
	</ul>
	<ol>
		<li>
			<a href="javascript:void(0)">Política de privacidad </a>
		</li>
		<li>
			<a href="javascript:void(0)">Política de
				<i lang="en"> cookies </i>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)">Aviso legal </a>
		</li>
	</ol>
</footer>
