// Global Styles
.text-gray {
  color: #6c757d;
}

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

$custom: orange;
// $custom-bg: darken($custom, 8%);
$custom-bg: darken($custom, 10%); // accessibility requires more contrast
$white: #fff;
$valid-color: #1abc9c; // ~theme primary
$invalid-color: crimson;
$warning: #ffc107;
$danger: #dc3545;
$label: lightgray;

// CUSTOMIZE THEME

a:not(.nav-link) {
  color: $custom;
}

// .btn-outline-light:hover {
//   color: $white !important;
//   background-color: transparent !important;
// }

.text-primary {
  color: $custom !important;
}

.btn-primary {
  color: $custom !important;
}

.text-custom {
  color: $custom !important;
}

.text-custom-dark {
  color: $custom-bg !important;
}

body .bg-primary {
  background-color: desaturate($custom, 30) !important;
}

// B4 extra threming
.bg-custom-dark {
  background-color: $custom-bg;
}
