<!-- ITEMS -->

<section class="page-section-top portfolio bg-custom-dark">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white mb-0">
      Public Portfolio
    </h2>

    <!-- Icon Divider -->
    <app-divider [color]="divider"></app-divider>

    <!-- <h3 class="text-white text-center font-weight-lighter mb-5">
      newest first
    </h3> -->

    <!-- Portfolio Grid Items -->
    <div class="row">
      <div
        *ngFor="let item of portfolioItems | reverse"
        class="col-md-6 col-lg-4 mb-5"
      >
        <app-portfolio-item [item]="item"></app-portfolio-item>
      </div>
    </div>
  </div>
</section>

<!-- MODALS -->

<app-portfolio-modal
  *ngFor="let item of portfolioItems"
  [modal]="item"
  [ngSwitch]="item.type.toUpperCase()"
>
  <!-- transclusion - type A -->
  <p *ngSwitchCase="'A'" class="mb-5 text-justify">
    {{ item.p1 }} {{ portfolioCommon.dontforget }}
    <a
      href="{{ item.link1 }}"
      rel="nofollow noreferrer"
      target="_blank"
      (click)="openLink()"
    >
      {{ item.host }}.
    </a>
  </p>

  <!-- transclusion - type B -->
  <p *ngSwitchCase="'B'" class="text-justify">
    {{ item.p1 }} {{ portfolioCommon.visit }}
    <a
      href="{{ item.link1 }}"
      rel="nofollow noreferrer"
      target="_blank"
      (click)="openLink()"
    >
      {{ item.repo }}
    </a>
    {{ portfolioCommon.star }}
  </p>

  <p class="mb-4">
    {{ portfolioCommon.dontforget }}
    <a
      href="{{ item.link2 }}"
      rel="nofollow noreferrer"
      target="_blank"
      (click)="openLink()"
    >
      {{ item.host }}
    </a>
  </p>

  <!-- transclusion - type C -->
  <p *ngSwitchCase="'C'" class="mb-5 text-justify">
    {{ item.p1 }}
    {{ portfolioCommon.visit }}
    <a
      href="{{ item.link1 }}"
      rel="nofollow noreferrer"
      target="_blank"
      (click)="openLink()"
    >
      {{ item.repo }}
    </a>
    {{ portfolioCommon.star }}
  </p>

  <!-- transclusion - type D -->
  <ul *ngSwitchCase="'D'" class="mb-5 text-justify">
    {{
      portfolioCommon.list
    }}
    <li *ngFor="let algor of item.algorithms">
      <a
        href="{{ algor.link }}"
        rel="nofollow noreferrer"
        target="_blank"
        (click)="openLink()"
      >
        {{ algor.js }} </a
      >,
    </li>
    {{
      portfolioCommon.stars
    }}
  </ul>

  <!-- transclusion - type E -->
  <p *ngSwitchCase="'E'" class="mb-5 text-justify">
    {{ item.p1 }}
    {{ portfolioCommon.visit }}
    <a
      href="{{ item.link1 }}"
      rel="nofollow noreferrer"
      target="_blank"
      (click)="openLink()"
    >
      {{ item.repo }}
    </a>
    {{ portfolioCommon.star }}

    <span class="text-gray"
      >{{ portfolioItems[portfolioItems.length - 1].p2 }}
    </span>
  </p>
</app-portfolio-modal>
