<!-- * Masthead * -->
<app-masterhead id="home"></app-masterhead>

<!-- * Featured ~New * -->
<app-featured id="new" [new]="propNew">
  <!-- CUSTOM - Portfolio Modal - Text -->
  <p class="text-justify">
    {{ portfolioItems[portfolioItems.length - 1].p1 }}
  </p>

  <p class="mb-4">
    {{ portfolioCommon.dontforget }}
    <a
      [href]="portfolioItems[portfolioItems.length - 1].link2"
      rel="nofollow noreferrer"
      target="_blank"
      (click)="openLink()"
    >
      {{ portfolioItems[portfolioItems.length - 1].host }}
    </a>

    <!-- AUX -->
    <span class="text-gray"
      >{{ portfolioItems[portfolioItems.length - 1].p2 }}
    </span>
  </p>
</app-featured>

<!-- * Potfolio * -->
<app-portfolio id="portfolio"></app-portfolio>

<!-- * Skills * -->
<app-skills id="skills"></app-skills>
