@import "../../../../sass/globals"; // globals

.portfolio-modal button.close:focus {
  outline: 0;
}

.container {
  h4 {
    font-size: 1.5rem;
  }

  // Featured Box
  .col {
    // Theme override
    .portfolio-item {
      position: relative !important;

      .portfolio-item-caption {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        transition: all 0.2s ease-in-out !important;
        opacity: 0 !important;
        background-color: $custom !important;
        &:hover {
          cursor: pointer;
          opacity: 1 !important;
        }
      }

      img {
        border-width: 4px !important;
      }
    }
  }

  // Featured Modal
  .modal-body {
    img {
      border-width: 4px !important;
    }
  }
}

@media (min-width: 320px) {
  #featured-pic {
    max-width: 400px !important;
    max-width: 272 !important;
  }
}
@media (min-width: $breakpoint-sm) {
  #featured-pic {
    max-width: 400px !important;
  }
}
