<!-- Featured Section-->
<section class="page-section featured">
  <div class="container">
    <!-- Featured Section Heading-->
    <h2
      class="page-section-heading text-center text-custom-dark font-weight-lighter mb-5"
    >
      new
    </h2>
    <section class="featured-heading">
      <h3
        class="page-section-heading text-center text-uppercase text-secondary mb-3"
      >
        {{ portfolioItems[portfolioItems.length - 1].title }}
      </h3>
      <h4 class="page-section-heading text-center text-gray mb-0">
        {{ new }}
      </h4>
    </section>

    <!-- Icon Divider-->
    <app-divider [color]="divider"></app-divider>

    <!-- Featured Box -->
    <div class="row">
      <!-- link -->
      <div class="col d-flex justify-content-center">
        <div
          id="featured-pic"
          class="portfolio-item mx-auto"
          data-toggle="modal"
          data-target="#featuredModal"
        >
          <div
            class="rounded-lg portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
          >
            <div class="portfolio-item-caption-content text-center text-white">
              <fa-icon [icon]="faPlus"></fa-icon>
            </div>
          </div>
          <img
            class="border border-secondary img-fluid border rounded-lg"
            src="assets/img/{{ portfolioItems[portfolioItems.length - 1].src }}"
            [alt]="portfolioItems[portfolioItems.length - 1].alt"
          />
        </div>
      </div>
    </div>

    <!-- Featured Modal -->
    <div
      class="portfolio-modal modal fade"
      id="featuredModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="featuredModal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <button
            class="close text-custom"
            type="button"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">
              <fa-icon [icon]="faTimes"></fa-icon>
            </span>
          </button>
          <div class="modal-body text-center">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <!-- Portfolio Modal - Title-->
                  <h2
                    class="portfolio-modal-title text-secondary text-uppercase mb-0"
                    id="featuredModalNew"
                  >
                    {{ portfolioItems[portfolioItems.length - 1].title }}
                  </h2>

                  <!-- Icon Divider-->
                  <app-divider [color]="divider"></app-divider>

                  <!-- Portfolio Modal - Image-->
                  <img
                    class="border border-secondary rounded-sm img-fluid-override rounded mb-5"
                    src="assets/img/{{
                      portfolioItems[portfolioItems.length - 1].src
                    }}"
                    [alt]="portfolioItems[portfolioItems.length - 1].alt"
                  />

                  <!-- CUSTOM - Portfolio Modal - Text -->
                  <ng-content></ng-content>

                  <button class="btn btn-outline-dark" data-dismiss="modal">
                    <fa-icon [icon]="faTimes"></fa-icon>
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
