<div
  class="portfolio-item mx-auto border border-dark rounded-top bigborder"
  data-toggle="modal"
  [attr.data-target]="item.target"
>
  <div
    class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100 bg-white text-custom"
  >
    <div class="portfolio-item-caption-content text-center">
      <fa-icon [icon]="faPlus"></fa-icon>
    </div>
  </div>
  <img class="img-fluid" src="assets/img/{{ item.src }}" [alt]="item.alt" />

  <!-- web tech icons -->
  <div class="tech-icons bg-light">
    <img
      *ngFor="let tech of item.tech"
      src="assets/img/portfolio/{{ tech }}.png"
      alt="web tech"
      width="auto"
      height="30"
      class="border border-light bg-light p-1 rounded"
    />
  </div>
</div>
